a {
    text-decoration: none;
    color: white;
font-size: 30px;
}



.headerLink {
/* display: inline; */
color: white;
font-size: 30px;
}



#header {
    height: 110px;
    width: 100%;
    background-color: red;

}

#headerText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#bottomOfHeader {
    height: 10px;
    width: 100%;
    background-color: gray;
}

#featured {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about {
    text-align: center;
}

img {
    height: 300px;
}

.projectFormat {
    text-align: center; 
    width: 300px;
}

#projectsDiv {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#aboutText {
    width: 50%;
}

#aboutImg {
    margin: 67px;
    height: 550px;
}

#aboutBody {
    display: flex;
}